<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <moova>
                <active>0</active>
                <title>MOOVA</title>
                <description>Recibí el pedido en tu casa.</description>
                <model>Improntus\Moova\Model\Carrier\Moova</model>
                <max_package_weight>100</max_package_weight>
            </moova>
        </carriers>
        <shipping>
            <moova_webservice>
                <url>https://api-prod.moova.io/</url>
                <dashboard_url>https://dashboard.moova.io/</dashboard_url>
                <tracking>
                    <url>https://dashboard.moova.io/external?id=</url>
                </tracking>
                <moova_checkout>
                    <address>street</address>
                    <street></street>
                    <number></number>
                    <floor>shipping_description</floor>
                    <city>city</city>
                    <state>region</state>
                    <postalCode>postcode</postalCode>
                </moova_checkout>
            </moova_webservice>
        </shipping>
    </default>
</config>
